#top-left a {
    display: inline-block;
    padding-left: 15px;
    color: #000000;
    opacity: 0.75;
    font-size: 13px;
}
a {
    text-decoration: none;
}

body {
    font-family: arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}